*{
    padding: 0%;
    margin: 0%;
}

header h1, header p, nav a, #home, #about, #projects, #contact, footer p {
    font-family: Arial, sans-serif;
}

h1, h2 {
    font-family: Georgia, serif;
}

header{
    background-color: rgb(168, 149, 123);
    color: black;
    text-align: center; 
    padding: 20px;
    margin: 30px;
    border-radius: 20px;  
}
nav{
    text-align: center;
    padding: 20px;
    background-color:blanchedalmond;
    margin: 30px;
    border-radius: 20px;
}
 
nav a{
    text-decoration: none;
    color:black;
}

nav a{
    color: var(--text-color);
    margin-left: 4rem;
    font-weight:500;
    transition: 0.3s ease;
    border-bottom: 3px  solid transparent;
}

nav a:hover,
nav a.active{
     color: var(--main-color);
     border-bottom: 3px solid var(--main-color);
}

#home{
    background-color: palegoldenrod;
    color: black;
    text-align: center; 
    padding: 50px;
    margin: 30px;
    border-radius: 20px;
}

#about, #projects, #contact {
    background-color: rgb(223, 217, 155);
    color: black;
    text-align: justify;
    padding: 50px;
    margin: 30px;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    display: inline-block; 
    vertical-align: top;
}

main {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    background-color:rgb(194, 177, 105);
}

#about, #projects, #contact {
    float: none;
}

#projects ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
    color:chocolate;
}


footer {
    background-color: rgb(182, 157, 124);
    padding: 20px;
    text-align: center;
    font-size: smaller;
    color: gray;
    clear: both;
    position: relative;
    bottom: 0;
    border-radius: 20px;
    margin: 20px;
}

#textAnimation:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
    transition: 0.3s  ease-in-out;
    cursor: pointer;
}

