*{ /* Reset default padding and margin*/

    padding: 0%;
    margin: 0%;
}

header h1, header p, nav a, #home, #about, #projects, #contact, footer p { /* default font family*/  
    font-family: Arial, sans-serif;
}

h1, h2 {/*headings font family*/
    font-family: Georgia, serif;
}

header{/*header style*/
    background-color: rgb(168, 149, 123);
    color: black;
    text-align: center; 
    padding: 20px;
    margin: 30px;
    border-radius: 20px;  
}
nav{/*nav style*/
    text-align: center;
    padding: 20px;
    background-color:blanchedalmond;
    margin: 30px;
    border-radius: 20px;
}
 
nav a{ /*header style*/
    text-decoration: none;
    color:black;
}

nav a{/*header style*/
    color: var(--text-color);
    margin-left: 4rem;
    font-weight:500;
    transition: 0.3s ease;
    border-bottom: 3px  solid transparent;
}

nav a:hover,
nav a.active{/*header style additional*/
     color: var(--main-color);
     border-bottom: 3px solid var(--main-color);
}

#home{/* Home Section Styling */
    background-color: palegoldenrod;
    color: black;
    text-align: center; 
    padding: 50px;
    margin: 30px;
    border-radius: 20px;
}

#about, #projects, #contact {/* About, Projects, and Contact Sections Styling */
    background-color: rgb(223, 217, 155);
    color: black;
    text-align: justify;
    padding: 50px;
    margin: 30px;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    display: inline-block; 
    vertical-align: top;
}

main {/* Main Section Styling */
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;/* Space between items */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    background-color:rgb(194, 177, 105);
}

#about, #projects, #contact {
    float: none;
}

#projects ul {/* Styling for the Projects List */
    list-style-type: none;/* Remove bullet points */
    padding: 0;
    margin: 0; 
    color:chocolate;
}


footer {/* Footer Section Styling */
    background-color: rgb(182, 157, 124);
    padding: 20px;
    text-align: center;
    font-size: smaller;
    color: gray;
    clear: both;
    position: relative;
    bottom: 0;
    border-radius: 20px;
    margin: 20px;
}

#textAnimation:hover{/* Header Text Animation on Hover */
    transform: scale(1.05);/* enlarge the text */
    box-shadow: 0 0 50px var(--main-color);
    transition: 0.3s  ease-in-out;/* transition */
}

